/* police */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
font-family:"Raleway";
box-sizing: border-box;
}
body{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* haut de page */

header{
    display: flex;
    justify-content: space-between;
} 
#logo img{
    width: 100px;
    height: 50px;
    }
    
    #menu{
        margin-right: 20px;
    }
    #menu a{
        margin: 20px;
        text-decoration: none;
    }

    /* Bloc recherche*/
    #texte_recherche{
        padding-bottom: 10px;
    }

    #texte_recherche h1{
        font-size: 1.5em;
    
    }
    #texte_recherche h2{
        font-size: 1em;
        text-decoration: none;
    }
    #barre_recherche{
        display: flex;
        
       }
       #barre_recherche i{
           background-color: #F2F2F2;
           border-radius: 15px 0 0 15px;
           padding: 1rem;
        
        
       }
#barre_recherche input
{
    border: #F2F2F2;
    width: 200px;
}
        #barre_recherche button{
           border-radius: 0 15px 15px 0;
           padding-right: 2rem;
           background-color:#0065FC;
           color: white;
           font-size: 1rem;
           border: #F2F2F2;
       }
       #filtre{
        display: flex;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 10px;
        gap: 20px;
    
    }
    #lien_filtre{
        display: flex;
        font-size: 1.3rem;
        gap: 25px;
    }
    #lien_filtre i{
        background-color: #DEEBFF;
        border-radius: 50%;
        padding: 1rem;
        color: #0065FC;

    }
    #lien_filtre a {
        display: flex;
        width: 100%;
        margin: auto;
        border: 2px solid #F2F2F2;
        border-radius: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
    
    }

    /* bloc hebergement */
    /* bloc hebergement marseille */

    #bloc_hebergement{
        display: flex;
        justify-content: space-between;
        gap: 40px
      }
    #sous_bloc_marseille{
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        border-radius: 15px;
    }
    h1, h2{
        margin-left: 20px;
    }
    #hebergement_marseille{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .hotel{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        flex-basis: 30%;
        border: 1px solid white;
        border-radius: 15px;
    }
    .hotel h1{
        font-size: 0.95rem;
    }
    .hotel p{
        font-size: 0.8rem;
    }
    .hotel img{
        height: 10rem;
        width: 97%;
        border-radius: 10px 10px 0 0;
    }
    /* bloc les plsu populaires */
    #sous_bloc_pop{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 42%;
        background-color: #F2F2F2;
        border-radius: 15px;
        gap: 10px;    
    }
    #liste_pop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;

    }

    .hotel_pop{
        display: flex;
        justify-content: center;
        background-color: white;
        border-radius: 15px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .hotel_pop img{
        height: 10rem;
        width: 10rem;
        border-radius: 15px 0 0 15px;
    }
    .hotel_pop_texte{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    .hotel_pop_texte h1{
        font-size: 1rem;
    }
    ]@media (max-width:800px){
        #bloc_hebergement{
            flex-direction: column-reverse;
        
        }
    }
/* bloc activites */

#bloc_activites{
    display: flex;
    justify-content: space-around;
}
.bloc_activites2{
    display: flex;
    flex-direction: column;
}
.bloc_activites1 img{
    width: 10rem;
}
.bloc_activites2 img{
    width: 10rem;
}
    /* pied de page */
    footer{
        display:flex;
        justify-content: space-around;
        background-color: rgba(197, 194, 194, 0.89);
    }




