/* police */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    font-family:"Raleway";
    box-sizing: border-box;
    }
    
/* corps de page */

html{
    max-width: 1440px;
}
body{
    margin-left: 40px;
    margin-right: 40px;
}

/*  en-tête */

header{
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    gap: 4rem;
}
nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
/* boc de recherche */

#bloc_recherche{
    display: flex;
    flex-direction: column;
}


/* flitre */
#filtre{
    display:flex;
    align-items:center;
    gap: 4rem;
    
}
#lien_filtre {
    display: flex;
    gap: 4rem;
}
/* bloc herbergement */

/* hebergement a marseille */
#bloc_hebergement{
    display: flex;
    justify-content: space-between;
}
#sous_bloc_marseille{
    display: flex;
    flex-direction: column;
    flex: 2;
}
#hebergement_marseille{
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
    flex-wrap: wrap;
}
.hotel{
    display: flex;
    flex-direction: column;
    align-items:center ;
}
.hotel img{
    width: 17rem;
    height: 10rem;
    object-fit: cover;
}
.hotel_pop img{
    width: 50px;
    height: 50px;
}
/* les plus populaires */
#sous_bloc_pop{
    display: flex;
    flex-direction: column;
    flex-basis: 1;
    margin-left: 40px;
}